.main {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .main .div {
    background-image: url(./img/main.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 1024px;
    position: relative;
    width: 1440px;
  }
  
  .main .text-wrapper {
    -webkit-text-stroke: 1px #000000;
    color: #ffffff;
    font-family: "Imprint MT Shadow-Regular", Helvetica;
    font-size: 80px;
    font-weight: 400;
    height: 150px;
    left: 269px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 68px;
    width: 900px;
  }
  
  .main .group-login {
    height: 40px;
    left: 1319px;
    position: absolute;
    top: 15px;
    width: 103px;
  }
  
  .main .overlap-group {
    height: 40px;
    position: relative;
    width: 101px;
  }
  
  .main .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 40px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 80px;
  }
  
  .main .ellipse {
    height: 30px;
    left: 71px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 30px;
  }
  
  .main .group-pacotes {
    height: 420px;
    left: 522px;
    position: absolute;
    top: 378px;
    width: 402px;
  }
  
  .main .text-wrapper-3 {
    color: #ffffff;
    font-family: "Inter-MediumItalic", Helvetica;
    font-size: 48px;
    font-style: italic;
    font-weight: 500;
    height: 80px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 395px;
  }
  
  .main .pacotes {
    height: 354px;
    left: 5px;
    object-fit: cover;
    position: absolute;
    top: 80px;
    width: 409px;
  }
  
  .main .group-hotel {
    height: 420px;
    left: 50px;
    position: absolute;
    top: 378px;
    width: 397px;
  }
  
  .main .img {
    height: 354px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 80px;
    width: 409px;
  }
  
  .main .group-cruzeiros {
    height: 420px;
    left: 1004px;
    position: absolute;
    top: 378px;
    width: 397px;
  }
  